<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Volver a la pagina principal</a>
        <a href="/about">Ir a la pagina about</a>
        <a href="/blog">Ir a la pagina blog</a>
		<h1>Pusiste /about y me viste :D</h1>
	</body>
</html>